{% extends "jobs/base.html" %}

{% block content %}


<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Offer a service you can provide!</h1>
  <p class="lead">This page lists all the current offers!</p>
  <hr class="my-4">
  <p>By creating and offer, you agree to our terms and conditions.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'terms' %}" role="button">Learn more</a>
</div>


<div class="row align-items-md-stretch">
{% for offer in offers %}
  {% if offer.is_taken == 0 %}
    <div class="col-md-6 mt-4">
      <div class="h-100 p-5 bg-dark text-white border rounded-3 mt-5">
        
        <h2>{{job.title}}</h2>
        <a class="text-decoration-none" href="{% url 'user-profile' offer.username.pk %}">{{offer.username}}</a>
        
        <br>
        <small class="text-muted">  ${{offer.payment}}</small>
        <p class="mt-2">{{offer.description}}</p>
        <a class="btn btn-outline-secondary"  href= "{% url 'accept-job' %}" role="button">Accept Offer</a>
      </div>
    </div>
  
  {% endif %}
{% endfor %}
</div>
{% endblock content %}