{% extends "jobs/base.html" %}

{% block content %}


<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Look for jobs you want!</h1>
  <p class="lead">This page lists all the currently available jobs.</p>
  <hr class="my-4">
  <p>By accepting a job, you agree to our terms and conditions.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'terms' %}" role="button">Learn more</a>
</div>


<div class="row align-items-md-stretch">
{% for job in jobs %}
  {% if job.is_taken == 0 %}
    <div class="col-md-6 mt-4">
      <div class="h-100 p-5 bg-dark text-white border rounded-3 mt-5">
        
        <h2>{{job.title}}</h2>
        <a class="text-decoration-none" href="{% url 'user-profile' job.username.pk %}">{{job.username}}</a>
        
        <br>
        <small class="text-muted">  ${{job.payment}}</small>
        <p class="mt-2">{{job.description}}</p>
        <a class="btn btn-outline-secondary"  href= "{% url 'accept-job' %}" role="button">Accept Job</a>
      </div>
    </div>
  
  {% endif %}
{% endfor %}
</div>
{% endblock content %}